.word-container {
  position: absolute;
  text-align: center;
  &.clicked {
    > .word {
      color: gray;
    }
  }
  .word {
    font-size: 22px;
    cursor: pointer;
    &.good {
      color: green;
    }
    &.bad {
      color: red;
    }
  }
}
